<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Libreria_Clases.Properties.Settings.conexion" connectionString="Data Source=DESKTOP-2D0HHC5\SQLEXPRESS;Initial Catalog=Prueba_Administracion;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>